body{
  background-color: beige;
}

.prueba_github{
  display: flex;
  justify-content: center;
  height: 150px;
  width: calc(80% -100px);
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  background-color: antiquewhite;
}

